*{
	padding:0;
	margin:0;
	font-family:'Quicksand', sans-serif;
}
header{
	height: 70px;
}
header h1 {
	display: inline-block;
	float: left;
	padding: 15px 20px;
	text-transform: uppercase;
}
header h1 a{
	color: #060606;
	transition: .2s;
}
header h1 a:hover {
	color: #060606;
}
header ul{
	float: right;
}
header ul li{
	padding: 24px;
	display: inline-block;
}
header ul li a {
	transition: .3s;
	color: #060606;
}
header ul li a:hover {
	color: #060606;
}
a {
	text-decoration:none ;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.container: :after{
	content: '';
	display: block;
	clear: both;
}
.mobile-menu{
	float: right;
	display: none;
	padding: 20px;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgba(12, 13, 12, .9);
	transition: .3s;
	z-index: 9999;
}
.sidebar ul li a {
	color: #fff;
}
.sidebar ul li {
	padding: 25px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: #1EB813;
}
#check:checked ~ .sidebar {
	left: 0;
}
.banner {
	background-color: #1EB813 ;
	padding: 150px 0;
}
section{
	padding: 150px 0;
}
.banner img{
	width: 150px;
	hight: 150px;
	borders-radius: 15px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;
}
.banner h2,
.banner p,
.banner span {
	color: #fff;
	font-size: 20px;
}
.banner h2 {
	margin-bottom: 10px;
}
.banner p{
	font-size: 13px;
}
.banner-right{
	padding-right: 50px;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:25px;
	position: relative;
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width: 120px;
	height: 1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width: 40px;
	height: 4px;
	background-color: #1EB813;
	left: calc(50% - 20px);
}
#about p {
	test-align: justify;
	text-indent: : 30px;
	line-height: 25px;
	margin-bottom: 20px;
}
#skills,
#contact {
	background-color: #f9f9f9;
}
#skills .bar {
	height:  30px;
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 1px 0 25px 0;
}
.bar .nilai {
	height: 30px;
	background-color: #1EB813;
	display: inline-block;
	color: #fff;
	text-align: center;
}
.Premiere {
	width: 80%;
}
.Photoshop {
	width: 60%;
}
.Microsoft {
	width: 80%;
}
.html {
	width: 30%;
}
.css {
	width: 30%;
}
.java {
	width: 20%;
}
.col-4 {
	width: 25%;
	box-sizing: border-box;
	padding: 5px;
	float: left;
	text-align: :center;
	margin-bottom: 15px;

}
.col-4 video {
	width: 100%;
}
.col-4 a:hover video {
	transform: scale(1.2);
}
.col-3 {
	width: 33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 50px 10px;
}
.col-3 h4{
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}	
footer {
	padding: 5px;
	text-align: center;
}
footer small {
	color: #333;
}
html {
	scroll-behavior: smooth;
}

@media (max-width: 768px){
	.mobile-menu{
		display: block;
	}
	header ul {
		display:  none;
	}
	.col-4{
		width: 50%;
	}
	.col-3 {
		width: 100%;
	}
}